/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top; box-sizing:border-box; }
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
/*td{border-width:0 1px;}*/
tr, td{border-width: 1px;}

/* Tables + Comments */
.Tbinput{text-align:center;}
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#015f79; text-align:center;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(odd), #comments li:nth-child(odd){color:inherit; background-color:#FFFFFF;}
table a, #comments a{background-color:inherit;}

/* Other
---------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}
}

html{overflow-y:scroll;}

